<div class='container user'>
  
  <p id="notice"><%= notice %></p>
  
  <h1>Listing Users</h1>
  
  <div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-xs-12 col-md-6 user-panel">
          <div class="user-panel">
            <h2><%= user.name %></h2>
            <p><%= user.email %></p>
            <p><%= user.created_at %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class='panel panel-info panel-footer'>
    <%= link_to 'New user', new_user_registration_path, class: 'btn btn-primary' %>
  </div>
  
</div>